/*
wood brown: A89F68;
army green: 41521F;
*/

*{
	margin:0;
	padding:0;
}
/* FIRST SECTION */

.first-section{
	background-image: url(../img/portada.jpg);
	height: 100vh;
	background-size:cover;
	background-position:center;
}

.sec-save{
	color:white;
	padding-top: 300px;

}

.btn-default {
    color: #fff;
    background-color: #41521F;
    border-color: #41521F;
}

/* SECOND SECTION */


